.demo-btn {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 4px 5xp;
  font-size: 14px;
  line-height: 14px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
